*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgb(7, 53, 177), aqua);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.displayContainer{
    border: 1px solid red;
}

h1{
    color: #ffffff;
    margin-bottom: 10px;
}



.container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1.5em;
    border: 1px solid red;
}

.card-container{
    background-color: #ffffff;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.card-container:hover{
    transform: scale(1.02);
    box-shadow: 0 0 5px #000000;
}

.icon{
    width: 3em;
    position: absolute;
}

.pixelled{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 0;
}

.pixelled.active{
    opacity: 1;
}

button{
    margin-top: 10px;
}

#start-btn{
    padding: 5px 10px;
    border-style: none;
    outline: none;
    cursor: pointer;
    background-color: rosybrown;
    color: #f80707;
    border-radius: 5px;
    transition: all ease-in-out .3s;
}

#start-btn:hover{
    transform: scale(1.02);
    box-shadow: 0 0 4px #000;
}